body {
  text-align: left;
  background-color: dimgray;
  margin-left: 20px;
}

.App-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

#vote-div {
  color: white;
  align-items: center;
  font-size: 20px;
  max-width: inherit;
  display: flex;
  text-align: center;

  margin-left: 50px;
}

#vote {
  color: white;
  align-items: center;
  width: 90px;
  margin-left: 20px;
  font-size: 14px;
}

#vote-label {
  margin-left: -10px;
  color: white;
  font-size: 18px;
}

#voteButton {
  font-size: small;
}
